/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Asterisk wildcard selector to override default styles added by the browser */
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Project style */
    color: black;
    font-family: 'Jost', sans-serif;
}

/* Header */
header {
    background-color: 	#010b19;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    font-size: smaller;
    box-shadow: 0 3px 3px white;
    text-align: left;
    
}

header a {
    text-decoration: none;
    letter-spacing: 2px;
}

#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 2px solid white;
}

/* Navbar styles and drop down menu */
nav {
    position: absolute;
    background-color: #010b19;
    width: 100%;
    padding: 1rem 0;
    right: 0;
    box-shadow: 0 2px 2px white;
    display: none;
    top: 100%;
}

h1 {
    font-family: 'poppins', sans-serif;
    color: azure;
    text-decoration: solid;
}

#menu {
    font-size: larger;
    letter-spacing: 5px;
    list-style-type: none;
    color: aliceblue;
}
/* Main */
main {
    background-color: lightpink;
    /* Push footer down below main and to bottom of the page as well as make main take up majority of screen */
    flex: 1 0 auto;

}
/* Footer */
footer {
    background-color: beige;
}